html {
  height:100%;
  margin:0;
  padding:0;
  background-color:
  green;
}

body {
  height:100%; 
  width:100%; 
  background:yellow; 
  margin:0; 
  padding:0;
}

#myheader {
  height:20px;
  background:red
}

#mycenter {
  height:70%;
  background:blue
}

#myfooter {
  height:20px;
  background:pink
}

.listing {
  background-color:white; 
  color:black; 
  font-family:monospace;
}
